*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    width: 375px;
    margin: auto;
}

.outer-panel .material-icons{
    font-size: 15px;
}

.outer-panel, .inner-panel {
    display: block;
}

.outer-panel {
    width: 375px;
    padding: 0;
}

.inner-panel {
    justify-content: center;
    background-color: #08090C;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#icons{
    position: relative;
    color: white;
}
#hamburger-menu{
    position: absolute;
    top: 0;
    left: 0;
}

#icons .material-icons{
    font-size: 20px;
}

#shopping-cart{
    position: absolute;
    top: 0;
    right: 0;
}

#icons > .line{
    background-color: #292929;
    height: 1px;
    width: 20px;
}

#icons > .line + .line {
    margin-top: 5px;
}

.dashed-line{
    padding-top: 40px;
    border-bottom: 1px solid #585858;
}

#dispimg{
    text-align: center;
    object-fit: fill;
    padding-top: 25px;
    height: 407px;
    width: 325px;
    margin-bottom: 50px;
}

.spacing{
    color: white;
}

.inner-panel content{
    font-family: Belgrano;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 1px;
    color: #C4CACF;
    padding: 15px 0;
}

h1{
    font-family: 'DM Sans', sans-serif;
}

#ratings{
    display: flex;
}

#stars{
    border-radius: 10px;
    background-color: #079741;
    padding: 2px 5px;
    margin: 5px 10px 25px 5px;
}

#ratings span:first-of-type{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: white;
    margin: 5px 10px 0 0;
}

#ratings span:last-of-type{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #424648;
    margin: 7px 10px 0 0;
}

.spacing > .rupees{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: white;
    line-height: 39px;
}

.spacing > .rupees .material-icons{
    font-size: 32px;
}

.spacing > .rupees:nth-of-type(2){
    color:#3C464F;
    text-decoration-line: line-through;
}

#offer-zone{
    padding-right: 30px;
}

#offer1, #offer2{
    box-sizing: border-box;
    background-color: #21272C;
    color: white;
    margin-top: 10px;
    height: 124px;
    padding: 15px;
}

#offer1 > div:nth-of-type(1){
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    border-radius: 8px;
    background-color: #067BD8;
    text-transform: uppercase;
    display: inline;
    padding: 2.5px 5px;
}

#offer1 > div:nth-of-type(1) .material-icons{
    font-size: 8px;
}

#offer1 > div:nth-of-type(2){
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0 2.5px 0;
}

#offer1 > div:nth-of-type(3){
    font-family: Belgrano;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 2.5px 0 10px 0;
    color: #465D68;   
}

#offer1 div:nth-of-type(4){
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #24DB6D;
}

#offer1 div:nth-of-type(4) span{
    font-size: 12px;
    color: #DB9D24;
    padding-left: 10px;
}

#offer1 .discounts div:nth-of-type(1){
    position: absolute;
    top: -60px;
    right: 10px;
    font-family: DM Serif Display;
    font-size: 20px;
}

#offer1 .discounts div:nth-of-type(2){
    position: absolute;
    top: -30px;
    right: 10px;
    font-family: DM Serif Display;
    font-size: 20px;
}

#offer1 .rupees > .material-icons, #offer2 .rupees > .material-icons{
    font-size: 12px;
}

#offer1 .discounts, #offer2 .discounts{
    position: relative;
}

#offer2{
    height: 94px;
}

#offer2 > div:first-of-type{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

#offer2 > div:nth-of-type(2){
    font-family: Belgrano;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 5px 0 10px 0;
    color: #465D68;
}

.discounts{
    display: flex;
    flex-direction: column;
}

#offer2 .discounts div:nth-of-type(1){
    position: absolute;
    top: -60px;
    right: 10px;
    font-family: DM Serif Display;
    font-size: 20px;
}

#offer2 .discounts div:nth-of-type(2){
    position: absolute;
    top: -30px;
    right: 10px;
    font-family: DM Serif Display;
    font-size: 20px;
}

#offer2 div:nth-of-type(3){
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #24DB6D;
}

#footer{
    display: block;
    padding-top: 10px;
}

#footer div{
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    background-color: #13324A;
    padding: 8px;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

#footer .material-icons{
    font-size: 20px;
    padding-right: 5px;
}